/*
p{
    background-color: blueviolet;
}

#main-header{
    background-color: red;
}

.post-meta{
    background-color: greenyellow;
}

em, h1{
    background-color: aquamarine;
}


section h1 {
    background-color: cyan;
}


section > h1{
    background-color: antiquewhite;
}
*/